*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

.m-width{
  max-width: 1360px;
  margin: 0 auto;
}



.btn-primary{
  color: white;
  font-size: 16px;
  background-color: #30B868;
  border-radius: 4px;
  border: none;
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
  border: 2px solid #30B868 ;
  transition: all 0.5s ease;
  
  
}
.btn-primary:hover{
  color: #30B868;
  background-color: transparent;
  border: 2px solid #30B868 ;
}
.btn-2{
  color: white;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid white;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn-2:hover{
  color: white;
  background-color: #30B868;
  border: 2px solid #30B868;
}

.arrow-icon{
  display: inline-block;
  margin-left: 10px;
}
.video-icon{
  margin-right: 10px;
  
  font-size: 20px;
}

/* nav section  */
.nav {
  margin-top: 16px;
  margin-bottom: 16px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  
  

}
.nav ul li a{
  text-decoration: none;
  color: black;
  
}

/* banner section  */

.banner{
  background-image:url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 115px;
}


  

.banner-section-1 {
  
  display: flex;
  justify-content: center;
  color:#30B868 ;
  background-color: white;
  width: 250px;
  padding: 8px;
  border-radius: 40px;
  gap: 10px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
  

}
.banner-section-1-img{
  margin-top: 2px;
}

.banner-section-1 p {
  font-size: 16px;
  
  
  

}
.banner-section-2 h1{
  color: white;
  font-size: 72px;
  margin-top: 16px;
  font-weight: bold;

}
.banner-section-2 h1 span{
 color: #30B868;
}
.banner-section-2 p{
  color: white;
  margin-top: 16px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 32px;
}
.banner-buttons{
  padding-bottom: 180px ;
  display:flex;
  gap: 16px;
  justify-content: center;
}

/* note section */

.note-section{
  margin-top: 75px;
  text-align: center;
}
.note-section p{
  font-size: 16px;
  color: #627382;
}
.note-section h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}

.note-container{
  display: flex;
  gap: 24px;
}

.note-image img{
  background-color: #F95555;
  border-radius: 48%;
  padding:14px ;
}

.note{
  margin-top:44px ;
  /* border: 2px solid #F95555; */
  padding: 69px 24px ;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgb(237, 237, 237);
  
}

.note h4{
  color: #001931;
  font-size:24px ;
  font-weight:600 ;
  margin: 16px 0px;
}

/* brain section  */
.brain-section{
  background-color: #ffffff;
  padding-top: 120px;
  /* border: 2px solid rgb(255, 174, 174); */
  /* margin: px; */ 
  position: absolute;
  width: 100%;
  top: 400px;
  
  
  
  
}
.brain-container{
  
  display: flex;
  gap: 60px;
  align-items: center;
}
.brain-container h3{
  margin:16px 0px ;
  
}

.brain-check-container img {
  max-width: 20px;
  max-height: 20px;
}

.brain-contents h3 {
  font-size:48px ;
  font-weight: bold;
}
.brain-description{
  font-size: 16px;
  color:#627382 ;
}



.brain-title{
  color: #30B868;
}
.brain-check-section{
  display: flex;
  margin-top: 40px;
  margin-bottom: -16px;
  gap: 8px;
}




/* early access section  */

.early-access{
  margin-top: 120px ;
  text-align: center;
  background-color:#F7F6F2 ;
  padding: 80px 0px ;
  border-radius: 12px;
}
.early-access h3{
  font-size: 40px;
  font-weight: bold;
}
.early-access button{
  margin-top: 24px;
}
.early-access p{
  font-size: 16px;
  color: #627382;
  margin-top: 16px;
}
.btn-early{
  box-shadow: 0px 0px 20px rgb(201, 201, 201);
}
/* index  */ 

.index{
  position: relative;
  height: 1150px;
  width: 100%;
}


/* footer  */

footer{
  background-color: #001931;
  margin-top: 120px;
}
.footer-container{
  display: flex;
  justify-content: space-between;
  padding: 120px 0px 80px 0px;
  align-items: center;
  border-bottom: 1px solid rgb(104, 104, 104, 50%);
}
.social{
  margin-right: 107px;
  
  
}
.social-img{
 display: flex;
 gap: 12px;
}
.social p{
  font-size: 20px;
  color: white;
  margin-bottom: 16px;
}

footer small {
  display: inline-block;
  color: #FAFAFA;
  text-align: center;
  padding: 30px 0px 30px 0px;
}
footer p {
  
  text-align: center;
}