*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style  */
.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;}

.m-width{
  max-width: 1360px;
  margin: 0 auto;
}



.btn-primary{
  color: white;
  font-size: 16px;
  background-color: #30B868;
  border-radius: 4px;
  border: none;
  padding: 12px;
}
.btn-2{
  color: white;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid white;
  padding: 10px;
}



/* nav section  */
.nav {
  margin-top: 16px;
  margin-bottom: 16px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  
  

}
.nav ul li a{
  text-decoration: none;
  color: black;
  
}

/* banner section  */

.banner{
  background-image:url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.banner-section-1 {
  padding-top: 115px;
  display: flex;
  justify-content: center;
  

}
.banner-section-1 p {
  font-size: 16px;
  color:#30B868 ;
  background-color: white;
  padding: 8px;
  border-radius: 40px;
  width: 250px;
  
  

}
.banner-section-2 h1{
  color: white;
  font-size: 72px;
  margin-top: 16px;
  font-weight: bold;

}
.banner-section-2 p{
  color: white;
  margin-top: 16px;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 32px;
}
.banner-buttons{
  padding-bottom: 180px ;
  display:flex;
  gap: 16px;
  justify-content: center;
}

/* note section */

.note-section{
  margin-top: 75px;
  text-align: center;
}
.note-section p{
  font-size: 16px;
  color: #627382;
}
.note-section h2{
  color: #001931;
  font-size: 48px;
  font-weight: bold;
}

.note-container{
  display: flex;
  gap: 24px;
}

.note-image img{
  background-color: #F95555;
  border-radius: 48%;
  padding:14px ;
}

.note{
  margin-top:44px ;
  /* border: 2px solid #F95555; */
  padding: 69px 24px ;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgb(226, 226, 226);
}

.note h4{
  color: #001931;
  font-size:24px ;
  font-weight:600 ;
  margin: 16px 0px;
}